@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #FAF8F5;
  --foreground: #1C140E;
}

.dark {
  --background: #120C08;
  --foreground: #FAF8F5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}